*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'arial',sans-serif;
}


.main{
    width: 1300px;
    margin: 0 auto;
}
    header {
        position: fixed;
        top: 0;
        width: 1000px;
        height: 50px;
        margin: 0 auto;
        display: flex;
    }

.applogo{
    width:20%;

}

.applogo>img{
    width: 75px;
    height: 75px;
}

.nav{
    float: right;
    position:relative;
    width:fit-content;
    display:flex;
    margin:30px 0 0 70%;   
    }
    
    .nav ul{
    display: flex;    
    align-items:center;
    }

    .nav ul li{
    list-style:none;
    margin:0 20px;
    color: aqua;
    }
    .nav ul li a{
    text-decoration: none;
    font-size: 15px;
    }
    
    .chimg{
        width: fit-content;
        margin: 0 auto;
    }

    @keyframes changeimg {
        0%{content:url("1-1.jpg")}
        33%{content:url("2-1.jpg")}
        65%{content:url("3-1.jpg")}
    }

    .chimg>img{
        animation: changeimg 5s infinite;
        
    }